*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: tomato;
    width: 0%;
}

